<ion-view view-title="Autor">
  <ion-content scroll="false"; style="width:100%; background: url(img/autor.jpg) no-repeat center;background-size:cover;">
  <center> <img style="position:absolute;left:45%" class="avatar" src="img/seba1.jpg" width="100" height="100"></br></br></br></br></br></br></br>
    <div style=" font-size:25px;color:black;" class="Letra2">
      Nombre: Sebastián</br></br>
    Apellido: Pagano</br></br>
    Mail: sebas_el14@live.com.ar</br></br>
    GitHub:sebasPagano</br></br>
    </div></center>
  </ion-content>
</ion-view>