<ion-view view-title="Cargar Credito">
  <ion-content>
        <select ng-model="carga.id">
          <option value="">Seleccione monto..</option>
          <option ng-repeat="credito in ListadoCreditos" value={{credito.$id}}>{{credito.valor}}</option>
        </select>

       <button class="button button-large button-balanced" ng-click="CargarCredito()">
        Cargar
      </button>

            <div ng-show="carga.id">
              <img ng-src="https://chart.googleapis.com/chart?chs=150x150&cht=qr&chl={{carga.id}}" width="150" height="150" />
              <br><br>
                  <button class="button button-large button-balanced" ng-click="Escanear()">Escanear
                  </button>
              <br><br>
            </div>
           <button class="button button-large button-balanced" ng-click="AgregarCredito()">
        Agregar Credito
      </button>
  </ion-content>
</ion-view>