<ion-view view-title="Crear Desafio">
  <ion-content  style="width:100%; background: url(img/desafio8.jpg) no-repeat center;background-size:cover;">

      <form name="formAlta" id="formAlta" align='center' enctype="multipart/form-data" >
       
         <textarea placeholder="Ingrese Pregunta" ng-model="desafio.pregunta" style="width: 100%; text-align: center">
          </textarea>
           <center><font>Valor(10 - 100):<input type="number" min="10" max="100" value="50" ng-model="desafio.valor" name="valor"></font></center>
            <center><font>Dias(0 - 6):<input type="number" min="0" max="6" value="0" ng-model="tiempo.dias"></font></center>
            <center><font>Horas(0 - 23):<input type="number" min="0" max="23" value="0" ng-model="tiempo.horas"></font></center>
            <center></font>Minutos(0 - 59):<input type="number" min="0" max="59" value="0" ng-model="tiempo.minutos"></font></center>
            <center></font>Segundos(0 - 59):<input type="number" min="0" max="59" value="0" ng-model="tiempo.segundos"></font></center>
           
            <div ng-if="desafio.valor<101 && desafio.valor>9 && tiempo.dias==0 || tiempo.dias>0 && tiempo.dias<7">         
              <div ng-if="tiempo.horas==0 || tiempo.horas>0 && tiempo.horas<24">
                <div ng-if="tiempo.minutos==0 || tiempo.minutos>0 && tiempo.minutos<60">
                    <div ng-if="tiempo.segundos==0 || tiempo.segundos>0 && tiempo.segundos<60">
   
                           <button class="button button-large button-balanced" ng-click="Aceptar()">Crear</button>
                         
                  </div>
                </div>
              </div>
          </div>

        

      </form>
      
  </ion-content>
</ion-view>