<ion-view view-title="Crear Desafio">
  <ion-content  style="width:100%; background: url(img/desafio8.jpg) no-repeat center;background-size:cover;">

  		     <!-- <div class="card">
        <div class="item item-text-wrap">
          <label><strong>Ingrese desafio:</strong></label><br>
          <textarea ng-model="desafio.pregunta" style="width: 100%; text-align: center">
          </textarea>
        </div>
      </div> 

            <div>
        <div class="item item-text-wrap">
          <label><strong>Ingrese valor de la apuesta:</strong></label><br>
          <div>
        
            <input type="number" min="10" max="100" value="50" ng-model="desafio.valor" name="valor">
       
          </div>
          <br/>
          <p><strong>{{desafio.valor}}</strong></p>
        </div>
      </div>  

            <div >
             <p><strong>Dias </strong></p>
              <input type="number" min="0" max="6" value="0" ng-model="tiempo.dias">

              <p>
            </div>
          <br/>
     
        </div>

              <div >
              <p><strong>Horas </strong></p>
              <input type="number" min="0" max="23" value="0" ng-model="tiempo.horas">
              <p>
            </div>
          <br/>
         
        </div>

  		<div>
              <p><strong>Minutos </strong></p>
              <input type="number" min="0" max="59" value="0" ng-model="tiempo.minutos">
              <p>
         </div>
          <br/>
       
        </div>
                   
            <div >
              <p><strong>Segundos </strong></p>
              <input type="number" min="0" max="59" value="0" ng-model="tiempo.segundos">
              <p>
            </div>
          <br/>
      
        </div>
        <strong>{{tiempo.dias}}:{{tiempo.horas}}:{{tiempo.minutos}}:{{tiempo.segundos}}</strong></p>

             <button class="button button-large button-balanced" ng-click="Aceptar()">
        Crear
      </button>-->
      <form name="formAlta" id="formAlta" align='center' enctype="multipart/form-data" >
       
         <textarea placeholder="Ingrese Pregunta" ng-model="desafio.pregunta" style="width: 100%; text-align: center">
          </textarea>
           <center><font>Valor(10 - 100):<input type="number" min="10" max="100" value="50" ng-model="desafio.valor" name="valor"></font></center>
            <center><font>Dias(0 - 6):<input type="number" min="0" max="6" value="0" ng-model="tiempo.dias"></font></center>
            <center><font>Horas(0 - 23):<input type="number" min="0" max="23" value="0" ng-model="tiempo.horas"></font></center>
            <center></font>Minutos(0 - 59):<input type="number" min="0" max="59" value="0" ng-model="tiempo.minutos"></font></center>
            <center></font>Segundos(0 - 59):<input type="number" min="0" max="59" value="0" ng-model="tiempo.segundos"></font></center>
           
            <div ng-if="desafio.valor<101 && desafio.valor>9 && tiempo.dias==0 || tiempo.dias>0 && tiempo.dias<7">         
              <div ng-if="tiempo.horas==0 || tiempo.horas>0 && tiempo.horas<24">
                <div ng-if="tiempo.minutos==0 || tiempo.minutos>0 && tiempo.minutos<60">
                    <div ng-if="tiempo.segundos==0 || tiempo.segundos>0 && tiempo.segundos<60">
                      <button class="button button-large button-balanced" ng-click="Aceptar()">Crear</button>
                  </div>
                </div>
              </div>
          </div>
       <!-- <a class="btn btn-warning" name="guardar" ng-disabled="formAlta.$invalid" ng-if="!formAlta.$invalid" ng-click="guardar()" ><span class="glyphicon glyphicon-save">&nbsp;</span>Agregar Usuario!</a>-->
          
        

      </form>
      
  </ion-content>
</ion-view>