<ion-view view-title="Desafios Aceptados">
  <ion-content scroll="false"; style="width:100%; background: url(img/desafio3.jpg) no-repeat center;background-size:cover;">
  	 <ion-list ng-show="aceptados">
        <div ng-repeat="desafio in datos">
            <div ng-if="desafio.jugador == userID">
              <br>
              <ion-item>
                  <h2><strong>{{desafio.pregunta}}</strong></h2><br>
                  <h3>{{desafio.valor | currency}}</h3>
                  <br>
                <timer ng-show="desafio.disponible" countdown="(desafio.fechaFin - DateNow) / 1000" interval="1000"><h3>{{days}} dia{{daysS}}, {{hours}} horas, {{minutes}} minutos, {{seconds}} segundos</h3></timer>
              </ion-item>
              <br>
            </div>
        </div>
       </ion-list>
  </ion-content>
</ion-view>