
<ion-view view-title="Desafios">
  <ion-content  style="width:100%; background: url(img/desafio1.jpeg) no-repeat center;background-size:cover;">
   <!-- <div class="fondoDesafios">-->
  	      <ion-list ng-show="todos">
        <div ng-repeat="desafio in datos">
            <div ng-show="!desafio.computado && desafio.disponible && desafio.creador!=userID">
              <br>
              <ion-item>
                  <center><h2><strong>{{desafio.pregunta}}</strong></h2><br>
                  <h3>{{desafio.valor}}$</h3></br> 
               
                  <timer countdown="(desafio.fechaFin - DateNow) / 1000" interval="1000">

                   <font color="red">{{days}} dias</br> {{hours}} hrs {{minutes}} min {{seconds}}sec</h3></font></timer> </br>  
                   </br>  
                     <button class="button button-positive" ng-click="verDesafio($index)">Aceptar</button>
                  </center>
              </ion-item>
              <br>
            </div>
        </div>
       </ion-list>
      <!--</div>-->
  </ion-content>
</ion-view>